*{
    margin: 0;
    padding: 0;
}

.such{
    position: relative;
    width: 300px;
    height: 40px;
    margin: 20px;
}

.such input{
    position: absolute;
    width: 300px;
    height: 40px;
    padding-left: 10px;
    font-size: 18px;
    font-weight: 900;
    border-radius: 15px;
    border: 2px solid black;
}

.such button{
    top: 2px;
    right: -15px;
    position: absolute;
    width: 100px;
    height: 40px;
    font-size: 18px;
    font-weight: 980;
    border-radius: 15px;
    border: none;
    background-color: black;
    color: aliceblue;
}